/* Coolors Exported Palette - coolors.co/ffffff-fe5f55-777da7-c7efcf-232838 */

$color1: #ffffff; //rgba(255, 255, 255, 100)
$color2: #fe5f55; //rgba(254, 95, 85, 100)
$color3: #777da7; //rgba(119, 125, 167, 100)
$color4: #c7efcf; //rgba(199, 239, 207, 100)
$color5: #232838; //rgba(35, 40, 56, 100)
$color5: #234645;