@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #232838;
}
.navbar-inverse .navbar-nav>.active>a{
	color: red;
}
.navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: aliceblue;
}
.navbar, .navbar-brand{
	background-color: #232838;
	color: aliceblue !important;
	border-radius: 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.navbar-nav{
	color: aliceblue !important;
}
#myNavbar{
	color:green !important;
}
.affix{
	left: 0px;
	right: 0px;
	top: 0px;
}
.container-fluid{
	background-color: #DBDBDB;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	background-color: #DBDBDB;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	border:1px solid #DBDBDB;
}
#himg{
	background: url("../images/Internships-Wordle-v3.png");
	height: 300px;
	width: auto;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #232838;
	padding-top: 0;
	margin-top: 0;
	margin-left: 30px;
	margin-right: 30px;
}
#head{
	height: 60px;
	padding-top: 0;
	background-color: #232838;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
	border-bottom: 1px solid #777da7;
	color: aliceblue;
}
#head>h1{
	margin-top: 0;
	padding-top: 10px;
}
ul.nav.nav-tabs.nav-justified{
	background-color:#4C5C68;
}
ul.nav.nav-tabs.nav-justified>li>a{
	color: aliceblue;
}
ul.nav.nav-tabs.nav-justified>li>a:hover,ul.nav.nav-tabs.nav-justified>li.active>a{
	color: #232838;
}

footer{
	height: 100px;
	background-color: #4C5C68;
	color: aliceblue;
}
footer>.container{
	padding-top: 20px;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 0px !important;
    border-radius: 4px 4px 0 0;
}
